/**
 * Transition
 */
/**
 * Transform
 */
.ovabrw-home-page {
  font-family: "Helvetica Neue";
  margin-left: -20px;
}
.ovabrw-home-page .ovabrw-container a {
  text-decoration: none;
}
.ovabrw-home-page .ovabrw-container a:focus {
  outline: none;
  box-shadow: none;
}
.ovabrw-home-page .ovabrw-container .ovabrw-head {
  background: #fff;
  box-sizing: border-box;
  padding: 10px 40px;
  position: fixed;
  width: calc(100% - 160px);
  top: 32px;
  z-index: 1001;
}
.ovabrw-home-page .ovabrw-container .ovabrw-head .ovabrw-header {
  display: flex;
  align-items: center;
}
.ovabrw-home-page .ovabrw-container .ovabrw-head .ovabrw-header .logo {
  display: flex;
}
.ovabrw-home-page .ovabrw-container .ovabrw-head .ovabrw-header .logo img {
  width: 50px;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body {
  margin-top: 70px;
  padding: 40px;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 45px;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .boxes a {
  display: flex;
  width: 140px;
  height: 110px;
  text-decoration: none;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .boxes a .item-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .boxes a .item-box.document {
  background-color: #A4BBFF;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .boxes a .item-box.supports {
  background-color: #E4C3FF;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .boxes a .item-box.videos {
  background-color: #FFB8A9;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .boxes a .item-box img {
  width: 30px;
  margin-bottom: 15px;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .boxes a .item-box .item-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: #2D2D2D;
  padding: 0;
  margin: 0;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .ovabrw-heading {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #0C142E;
  padding: 0;
  margin: 0 0 15px;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .overview {
  margin-bottom: 50px;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .overview .description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: #545454;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .related-items .items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .related-items .items li.item {
  padding: 0;
  margin: 0 0 17px;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .related-items .items li.item:last-child {
  margin-bottom: 0;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .related-items .items li.item a {
  display: inline-flex;
  align-items: center;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .related-items .items li.item a img {
  margin-right: 14px;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .related-items .items li.item a p.name {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: #545454;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ovabrw-home-page .ovabrw-container .ovabrw-body .related-items .items li.item a:hover p.name {
  color: #007cba;
}

.woocommerce_options_panel input[type=text]::placeholder,
.woocommerce_options_panel textarea::placeholder,
.woocommerce_options_panel input[type=number]::placeholder {
  opacity: 0.3;
}

.woocommerce_options_panel .description {
  float: left;
}

.ovabrw-extra-price .view .ovabrw_extra_item {
  margin: 0;
}
.ovabrw-extra-price .view .ovabrw_extra_item dt {
  font-weight: 600;
}
.ovabrw-extra-price .view .ovabrw_extra_item dd {
  margin: 0;
  margin-bottom: 10px;
}

.taxonomy-product_cat form#addtag .form-field select, .taxonomy-product_cat form#edittag .form-field select {
  width: 100%;
}

/**
 * Tippy
 */
.tippy-box .tippy-content {
  background-color: #ff1a1a;
  border-color: #ff1a1a;
  border-radius: 4px;
}
.tippy-box .tippy-content .ovabrw-tippy {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}
.tippy-box .tippy-arrow {
  color: #ff1a1a;
}
.tippy-box[data-theme=ovabrw-tippy-description] {
  background-color: #00bb98;
}
.tippy-box[data-theme=ovabrw-tippy-description] .tippy-content {
  background-color: #00bb98;
  border-color: #00bb98;
  border-radius: 4px;
}
.tippy-box[data-theme=ovabrw-tippy-description] .tippy-content .ovabrw-tippy {
  font-weight: 400;
  color: #FFF;
}
.tippy-box[data-theme=ovabrw-tippy-description] .tippy-arrow {
  color: #00bb98;
}